%YAML 1.1
%TAG !u! tag:unity3d.com,2011:
--- !u!114 &11400000
MonoBehaviour:
  m_ObjectHideFlags: 0
  m_CorrespondingSourceObject: {fileID: 0}
  m_PrefabInstance: {fileID: 0}
  m_PrefabAsset: {fileID: 0}
  m_GameObject: {fileID: 0}
  m_Enabled: 1
  m_EditorHideFlags: 0
  m_Script: {fileID: 11500000, guid: 8eb8816b0e316412fabba1aaa023d45b, type: 3}
  m_Name: KebbiSecrets
  m_EditorClassIdentifier: 
  speechKey: 
  speechRegion: southeastasia
  speechVoice: id-ID-GadisNeural
  llmKey: 
  llmProvider: 
  openAiModel: gpt-4o-mini
  anthropicModel: claude-opus-4-8
